

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Kiski </title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   
    <style> /* set the CSS */

      .line {
        fill: none;
        stroke: white;
        stroke-width: 2px;
      }
      
      .area {
        fill: rgb(133, 231, 133);
      }
      
      #date
      {
          padding-left:10%;
          /* background-color: blue; */
      }
 
      #bubblehart{
          width:100%;
          height:50%;
      }
      p{
          font-size:20px;
      }
      .column{
          width:300px;
          height:40px;
          font-size:18px;
          padding:5px;
          border-radius:3px;
          border:1px solid #CCCCCC;
      }
      
      </style>
      
    

</head>
<body class="host_version"> 

	

    <!-- LOADER -->
	<div id="preloader">
		<div class="loading">
			<div class="finger finger-1">
				<div class="finger-item">
				<span></span><i></i>
				</div>
			</div>
  			<div class="finger finger-2">
				<div class="finger-item">
				<span></span><i></i>
				</div>
			</div>
  			<div class="finger finger-3">
				<div class="finger-item">
				  <span></span><i></i>
				</div>
			</div>
  			<div class="finger finger-4">
				<div class="finger-item">
				<span></span><i></i>
				</div>
			</div>
  			<div class="last-finger">
				<div class="last-finger-item"><i></i></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->

    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'firstpage'%}"></a>
                    <img src="{% static 'images/navbar_logo.png' %}" alt="image not available" id="img">
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                            <li class="nav-item">
                                    <a class="nav-link " href="{% url 'chatbot'%}">Chat
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            <li><a href="{% url 'firstpage'%}" >Page 1</a></li>
                            <li><a href="{% url 'secondpage'%}">Page 2 </a></li>
                            <li><a href="{% url 'thirdpage'%}">Page 3</a></li>
                            <li><a    href="{% url 'fourthpage'%}">Page 4</a></li>
                            <li><a class="active" href="{% url 'fifthpage'%}">Page 5</a></li>
                            <li><a href="{% url 'sixthpage'%}">Page 6</a></li>
                            
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
							<li><a href="{% url 'logout'%}" > Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
	
	
<div id="areachart">
    <script src="https://d3js.org/d3.v4.min.js"></script>
<script>

// set the dimensions and margins of the graph
var margin = {top: 50, right: 10, bottom: 30, left: 200},
    width = 1800 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// parse the date / time
var parseTime = d3.timeParse("%d-%b-%y");

// set the ranges
//alert(d3.scaleTime().range([0, width]))
//alert(d3.scaleLinear().range([height, 0]))
var x = d3.scaleTime().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);

// define the area
var area = d3.area()
    .x(function(d) { return x(d.Date); })
    .y0(height)
    .y1(function(d) { return y(d.Net); });

// define the line
var valueline = d3.line()
    .x(function(d) { return x(d.Date); })
    .y(function(d) { return y(d.Net); });

// append the svg obgect to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#areachart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// get the data
d3.csv("../static/csv/three.csv", function(error, data) {
  if (error) throw error;

  // format the data
  data.forEach(function(d) {
      d.Date = parseTime(d.Date);
      d.Net = +d.Net;
  });

  // scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.Date; }));
  //y.domain([0.8, d3.max(data, function(d) { return d.Net; })]);
  y.domain([0.8,1.0]);

  // add the area
    svg.append("path")
       .data([data])
       .attr("class", "area")
       .attr("d", area);

  // add the valueline path.
  svg.append("path")
      .data([data])
      .attr("class", "line")
      .attr("d", valueline);

      

  // add the X Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  //adding the x-axis label

  svg.append("text")      // text label for the x axis
        .attr("x", 375 )
        .attr("y",  549 )
        .style("text-anchor", "middle")
        .style("font-size", "18px")
        .text("Date");

  // add the Y Axis
  svg.append("g")
      .call(d3.axisLeft(y));

  //adding label to y-axis
  svg.append("text")      // text label for the x axis
        .attr("x", -75 )
        .attr("y",  230 )
        .style("text-anchor", "middle")
        .style("font-size", "18px")
        .text("Net value");


    //adding title to a graph
    svg.append("text")
        .attr("x", (width / 2))             
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")  
        .style("font-size", "24px") 
        .style("text-decoration", "underline")  
        .text("Area Graph");

        
});



</script>

</div>
<p>Select Date: <input type="text"id="datepicker"  class="column  month_and_year_option i" name="announcementdate" required placeholder="YYYY-MM-DD" autocomplete="off"></p>
    
<div id="bubblechart">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet">
    <!--- For Date Picker-->
    <script>
        var  selected_date;
            $(function(){
            $( ".month_and_year_option" ).datepicker({
                changeMonth : true,
                changeYear : true,
                dateFormat : 'yy-mm-dd'
            });
        });
    </script>
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
  <svg width="600" height="700" id="c1"></svg>
  <svg width="600" height="700" id="c2"></svg>
  <script>
          $(function(){
          
              $("#datepicker").on("change",function(){
              selected_date=$('#datepicker').val();
              d3.selectAll("#c1 > *").remove()
              d3.selectAll("#c2 > *").remove()
                  var svg = d3.select("#c1");
                      margin = 200,
                      width = svg.attr("width")-margin ,
                      height = svg.attr("height")-margin ;

                  var svg1 = d3.select("#c2");
                  margin = 200,
                  width = svg1.attr("width")-margin ,
                  height = svg1.attr("height")-margin ;
                  
              
                    d3.csv("../static/csv/one.csv",function(data)
                      {
                  
                      data.forEach(function(d) {
                          d.Country=d.Country;
                      d.Net=+d.Net;
                  });
                  console.log(data)
                  sort_data=data.filter((item) => item.Date === selected_date )
                  console.log(sort_data)
                  if(sort_data.length!=0)
                  {
                      color = d3.scaleOrdinal(d3.schemeCategory10)
                      formatPercent = d3.format(",.2%");
                          let bubble = d3.pack()
                                          .size([width, height])
                                          .padding(1.5);


                          let nodes = d3.hierarchy({children:sort_data})
                                  .sum(function (d) { return d.Net; });



                          let node = svg.selectAll(".node")
                                  .data(bubble(nodes).descendants())
                                  .enter()
                                  .filter(function (d) { return !d.children })
                                  .append("g")
                                  .attr("class", "node")
                                  .attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")";});

                          node.append("title")
                          .text(function (d) { return d.Date + ": " + d.Net; });

                          node.append("circle")
                          .attr("x", function (d) { return d.x; })
                          .attr("y", function (d) { return d.y; })
                          .attr("r", function (d) { return d.r/1; })
                          .attr("fill", (d,i) => color(i));


                          node.append("text")
                          .attr("dy", ".2em")
                          .style("text-anchor", "middle")
                          .text(function (d) { return d.data.Country;})
                          .attr("font-family", "sans-serif")
                          .attr("font-size", function (d) { return d.r /4; })
                          .attr("fill", "white");

                          node.append('text')
                          .attr("dy", "1.3em")
                          .style("text-anchor", "middle")
                          .text(function (d) { return formatPercent(d.data.Net); })
                          .attr("font-family", "Gill Sans")
                          .attr("font-size", function (d) { return d.r / 4; })
                          .attr("fill", "white");
                  }
                  else{
                      alert("Data is not Available for that date !")
                  }
                 

                  })
                  d3.csv("../static/csv/two.csv",function(data)
                      {
                  
                      data.forEach(function(d) {
                          d.Sector=d.Sector;
                      d.Net=+d.Net;
                  });
                  console.log(data)
                  sort_data=data.filter((item) => item.Date === selected_date )
                  console.log(sort_data)
                  if(sort_data.length!=0)
                  {
                      color = d3.scaleOrdinal(d3.schemeCategory10)
                      formatPercent = d3.format(",.2%");
                          let bubble = d3.pack()
                                          .size([width, height])
                                          .padding(1.5);


                          let nodes = d3.hierarchy({children:sort_data})
                                  .sum(function (d) { return d.Net; });



                          let node = svg1.selectAll(".node")
                                  .data(bubble(nodes).descendants())
                                  .enter()
                                  .filter(function (d) { return !d.children })
                                  .append("g")
                                  .attr("class", "node")
                                  .attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")";});

                          node.append("title")
                          .text(function (d) { return d.Date + ": " + d.Net; });

                          node.append("circle")
                          .attr("x", function (d) { return d.x; })
                          .attr("y", function (d) { return d.y; })
                          .attr("r", function (d) { return d.r/1; })
                          .attr("fill", (d,i) => color(i));


                          node.append("text")
                          .attr("dy", ".2em")
                          .style("text-anchor", "middle")
                          .text(function (d) { return d.data.Sector;})
                          .attr("font-family", "sans-serif")
                          .attr("font-size", function (d) { return d.r /4; })
                          .attr("fill", "white");

                          node.append('text')
                          .attr("dy", "1.3em")
                          .style("text-anchor", "middle")
                          .text(function (d) { return formatPercent(d.data.Net); })
                          .attr("font-family", "Gill Sans")
                          .attr("font-size", function (d) { return d.r / 4; })
                          .attr("fill", "white");
                  }
                  else{
                      alert("Data is not Available for that date !")
                  }
                 

                  })
              })
          });
                  
  </script>
</div>
    <!-- ALL JS FILES -->
    <script src="{% static 'static/js/all.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'static/js/custom.js' %}"></script>

</body>
</html>