<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Chat bot</title>

        <!--- Order of the Files -->
         <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
        <!--- Statci CSS files from this folder-->
        <link rel="stylesheet" href="../static/css/css/fontawesome.min.css">
        <link rel="stylesheet" href="../static/css/css/fullcalendar.min.css">
        <link rel="stylesheet" href="../static/css/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/css/tooplate.css">
        <link rel="stylesheet" href="../static/css/css/styling.css">

        <!-- Files for dropdown when the screen is minimized -- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
        <!--bootstrap css files-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet">

        <!--- JQuery files -->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

        <!-- D3 js file-->
        <script src="https://d3js.org/d3.v4.min.js"></script>

        <!-- High Charts js files-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        
    </head>
    <body>
        <div>
            <!--Nav bar Div-->
            <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-xl navbar-light bg-light" style="position: fixed;width:100%;top:0;left:0;z-index:1;">
                            <a class="navbar-brand" href="#">
                                <img src="../static/images/ghclogo.png" height=70 width=70>
                                <h1 class="tm-site-title mb-0">GHC</h1>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                </button>
                
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mx-auto">
                                        <li class="nav-item">
                                                <a class="nav-link active" href="{% url 'chatbot'%}"> Chatterbot
                                                        
                                                </a>
                                            </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'firstpage'%}"> Portfolio Overview</a>
                                    </li>
                                    <li class="nav-item">
                                        <li class="nav-item">
                                            <a class="nav-link "  href="{% url 'secondpage'%}">Net Exposure
                                                
                                            </a>
                                        </li>
                                        
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'thirdpage'%}">Factor Contribution</a>
                                    </li>
    
                                    <li class="nav-item">
                                        <a class="nav-link"  href="{% url 'fourthpage'%}"> Gross Exposure and PnL</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link"  href="{% url 'fifthpage'%}">Value at Risk</a>
                        
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'sixthpage'%}">Excess, Vol and Return Disturbution</a>
                        
                                    </li>
                                </ul>
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex" href="{% url 'logout'%}">
                                            <!-- <i class="far fa-user mr-2 tm-logout-icon"></i> -->
                                            <span>Logout<i style="font-size:24px" class="fa">&#xf08b;</i></span>
                                
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav> 
                    </div>
            </div>
            <!---Centered div which displays graphs-->
            <!-- <div class="centered" >

            </div> -->
            <!--- Input Div (textbox and button)-->
            <div class="chatinput"> 
                <form action="/chatbot/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="input" placeholder="Enter Something here" autocomplete="off"  >
                    <button type="submit" name="submit" class="send_btn" >Send</button>
                </form>
            </div>
        </div>
        {% if data2 %}
        <div class="centered" >
            <h3> Portfolio Measurments</h3>
            <script>                      
                    var data = {{data2|safe}}
                        sort_data=data
                        data2=sort_data;
                        <table id='id_of_table' align='center' width='500' height='300'>
                            <tr>
                                <th> </th>
                                <th> Fund </th>
                                <th> S&P 500 </th>
                            </tr>
                    
                            <tr>
                                <td>Ann'l Return</td>
                                <td id="1" ></td>
                                <td id="2"></td>
                            </tr>
                        
                            <tr>
                                <td>Ann'l  Vol</td>
                                <td id="3" ></td>
                                <td id="4"></td>
                            </tr>

                        
                            <tr>
                                <td>Max Drawdown </td>
                                <td id="5" ></td>
                                <td id="6"></td>
                            </tr>
                            
                            <tr>
                                <td>Sharpe  </td>
                                <td id="7" ></td>
                                <td id="8"></td>
                            </tr>
                            <tr>
                                <td>Sortino  </td>
                                <td id="9" ></td>
                                <td id="10"></td>
                            </tr>
                        </table>

                    if(sort_data.length!=0)
                        {
                        if(data2[0]['Annl Fund '])
                            document.getElementById("1").innerHTML=data2[0]['Annl Fund '];
                        else
                            document.getElementById("1").innerHTML=null;
            
                        if(data2[0]['Annl Benchmark'])
                            document.getElementById("2").innerHTML= parseFloat(data2[0]['Annl Benchmark']*100).toFixed(2)+"%"                    
                        else 
                            document.getElementById("2").innerHTML=null;
            
                        if(data2[0]["Ann'l Fund Vol"])
                            document.getElementById("3").innerHTML=data2[0]["Ann'l Fund Vol"]
                        
                        else 
                            document.getElementById("3").innerHTML=null;    
        
                        if(data2[0]["Ann'l Benchmark Vol"])   
                            document.getElementById("4").innerHTML=parseFloat(data2[0]["Ann'l Benchmark Vol"]*100).toFixed(2)+"%"
                        else 
                            document.getElementById("4").innerHTML=null;
            
                        if(data2[0]['Max Drawdown - Fund'])
                            document.getElementById("5").innerHTML =data2[0]['Max Drawdown - Fund']
                        else 
                            document.getElementById("5").innerHTML=null;
                    
                        if(data2[0]['Max Drawdown - Bench Mark'])
                            document.getElementById("6").innerHTML=data2[0]['Max Drawdown - Bench Mark']
                        else 
                            document.getElementById("6").innerHTML=null;
                    
                        if(data2[0]['Sharpe - Fund'])
                            document.getElementById("7").innerHTML =data2[0]['Sharpe - Fund']
                        else 
                            document.getElementById("7").innerHTML=null;
                    
                        if(data2[0]['Sharpe - Benchmark'])
                                document.getElementById("8").innerHTML =data2[0]['Sharpe - Benchmark']
                        else 
                            document.getElementById("8").innerHTML=null;
                    
                        if(data2[0]['Sortino - Fund'])
                            document.getElementById("9").innerHTML =data2[0]['Sortino - Fund']
                        else 
                            document.getElementById("9").innerHTML=null;
            
                        if(data2[0]['Sortino - Benchmark'])
                            document.getElementById("10").innerHTML=data2[0]['Sortino - Benchmark']
                        else 
                            document.getElementById("10").innerHTML=null;
                    }
                    else
                    {
                        document.getElementById("1").innerHTML=null;
                        document.getElementById("2").innerHTML=null;
                        document.getElementById("3").innerHTML=null;    
                        document.getElementById("4").innerHTML=null;    
                        document.getElementById("5").innerHTML=null;    
                        document.getElementById("6").innerHTML=null;    
                        document.getElementById("7").innerHTML=null;    
                        document.getElementById("8").innerHTML=null;    
                        document.getElementById("9").innerHTML=null;    
                        document.getElementById("10").innerHTML=null; 
                    }
            </script>
        </div>
        {% elif list1 %}
        <div class="centered">
                <div id="container" ></div>
                <script>
                    
                    Highcharts.chart('container', {
                        chart: {
                            type: 'area'
                        },
                        title: {
                            text: 'FAMA FRENCH MODEL'
                        },
                        subtitle: {
                            // text: 'GHC'
                        },
                        xAxis: {
                            categories:{{list1|safe}} ,
                            tickmarkPlacement: 'on',
                            title: {
                                enabled: false
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Cumulative Returns'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value / 1000;
                                }
                            }
                        },
                        tooltip: {
                            split: true,
                            valueSuffix: ' ',
                            valueDecimals : 3,
                        },
                        plotOptions: {
                            area: {
                                stacking: 'normal',
                                lineColor: '#666666',
                                lineWidth: 1,
                                marker: {
                                    lineWidth: 1,
                                    lineColor: '#666666'
                                }
                            }
                        },
                        series: [
                        {
                            name: 'Funds',
                            data:{{list7|safe}},
                            color:"white"
                        
                    
                        },{
                            name: 'Mkt',
                            data:{{list2|safe}},
                    
                        },
                        
                        
                        {
                            name: 'Growth',
                            data:{{list3|safe}},
                    
                        },
                        {
                            name: 'Size',
                            data:{{list6|safe}},
                    
                        },
                        {
                            name: 'Mom',
                            data:{{list4|safe}},
                    
                        },
                        {
                            name: 'Quality',
                            data:{{list5|safe}},
                    
                        }
                        
                    
                        ]
                    });
                </script>
        </div>
                        
     
        {% endif %}
    </body>
</html>

<style>

.chatinput
{
    /* position:absolute; */
    height:80px;
    width:100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top:20px;
    z-index:1;
    background-color:red;
    
}
.chatinput input[type="text"]
{
    width:60%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}
.send_btn
{

    height: 40px;
    padding: 5px 12px;
    border:none;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius:6px;   
}

.centered 
{
   
    background-color:grey; 
     
    /* padding-top:2%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%; */
    height:100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    overflow-y:auto;
  

}
#container
{
    background-color:grey;  
    margin-top:10%;
    width:100%;
    height:500px;
}
</style>
